<!-- Offer Area 1 Start Here -->
<div class="offer-area1 hidden-after-desk">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="brand-area-box-l">
                    <span>Winter Collection</span>
                    <h2>50% Off</h2>
                    <p>Sale Going On</p>
                    <a href="#" class="btn-shop-now-fill">Shop Now</a>
                </div>
            </div>
            <div id="countdown"></div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="brand-area-box-r">
                    <a href="#"><img src="assist/img/offer.png" alt="offer"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Offer Area 1 End Here -->