<customer-headershop></customer-headershop>
<!-- Inner Page Banner Area Start Here -->
			<div class="inner-page-banner-area">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="pagination-area">
								<h2>Product Details</h2>
								<ul>
									<li><a href="#">Home</a> /</li>
									<li>Product /</li>
									<li>Details</li>
								</ul>
							</div>
						</div>
					</div>
				</div>  
			</div> 
			<!-- Inner Page Banner Area End Here -->	
			<!-- Product Details2 Area Start Here -->
			<div class="product-details2-area">
				<div class="container">					
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<div class="inner-product-details-left">
								<div class="tab-content">
									<div class="tab-pane fade active in" id="related1">
										<a href="#" class="zoom ex1"><img alt="single" src="assist/img/product/product-details1.jpg" class="img-responsive"></a>
									</div>
									<div class="tab-pane fade" id="related2">
										<a href="#" class="zoom ex1"><img alt="single" src="assist/img/product/product-details1.jpg" class="img-responsive"></a>
									</div>	
									<div class="tab-pane fade" id="related3">
										<a href="#" class="zoom ex1"><img alt="single" src="assist/img/product/product-details1.jpg" class="img-responsive"></a>
									</div>
									<div class="tab-pane fade" id="related4">
										<a href="#" class="zoom ex1"><img alt="single" src="assist/img/product/product-details1.jpg" class="img-responsive"></a>
									</div>										
								</div>
								<ul>
									<li class="active"><a href="#related1" data-toggle="tab" aria-expanded="false"><img alt="related1" src="assist/img/product/product-details4.jpg" class="img-responsive"></a>
									</li>
									<li><a href="#related2" data-toggle="tab" aria-expanded="false"><img alt="related2" src="assist/img/product/product-details4.jpg" class="img-responsive"></a>
									</li>
									<li><a href="#related3" data-toggle="tab" aria-expanded="false"><img alt="related3" src="assist/img/product/product-details4.jpg" class="img-responsive"></a>
									</li>	
									<li><a href="#related4" data-toggle="tab" aria-expanded="false"><img alt="related4" src="assist/img/product/product-details4.jpg" class="img-responsive"></a>
									</li>										
								</ul>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<div class="inner-product-details-right">
								<h3>Product Title Here</h3>
								<ul>
									<li><i class="fa fa-star" aria-hidden="true"></i></li>
									<li><i class="fa fa-star" aria-hidden="true"></i></li>
									<li><i class="fa fa-star" aria-hidden="true"></i></li>
									<li><i class="fa fa-star" aria-hidden="true"></i></li>		
									<li><i class="fa fa-star" aria-hidden="true"></i></li>
								</ul>										
								<p class="price">$59.00</p>
								<p>Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the in dustry's s make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker includintandard dummy text ever when an unknown printer scrambled. </p>
								<div class="product-details-content">
									<p><span>SKU:</span> 0010</p>
									<p><span>Availability:</span> In stock</p>
									<p><span>Category:</span> Demo Products</p>	
								</div>
								<ul class="product-details-social">
									<li>Share:</li>
									<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
								</ul>										
								<ul class="inner-product-details-cart">
									<li><a href="#">Add To Cart</a></li>
									<li>
										<div class="input-group quantity-holder" id="quantity-holder">
										    <input type="text" name='quantity' class="form-control quantity-input" value="1" placeholder="1">
										    <div class="input-group-btn-vertical">
											    <button class="btn btn-default quantity-plus" type="button"><i class="fa fa-plus" aria-hidden="true"></i></button>
											    <button class="btn btn-default quantity-minus" type="button"><i class="fa fa-minus" aria-hidden="true"></i></button>
										    </div>
										</div>
									</li>
									<li><a href="#"><i aria-hidden="true" class="fa fa-heart-o"></i></a></li>
									<li><a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="product-details-tab-area">
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12">
								<ul>
									<li class="active"><a href="#description" data-toggle="tab" aria-expanded="false">Description</a></li>
									<li><a href="#review" data-toggle="tab" aria-expanded="false">Review(0)</a></li>
									<li><a href="#add-tags" data-toggle="tab" aria-expanded="false">ADD TAGS</a></li>
								</ul>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12">
								<div class="tab-content">
									<div class="tab-pane fade active in" id="description">
										<p>Porem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
									</div>
									<div class="tab-pane fade" id="review">
										<p>Porem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>						
									</div>
									<div class="tab-pane fade" id="add-tags">							
										<p>Porem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
									</div>											
								</div>
							</div>
						</div>
					</div>
					<customer-feature></customer-feature>
				</div>
			</div>
	        <!-- Product Details1 Area End Here -->
            <customer-footer></customer-footer>