<!-- Services2 Area Start Here -->
<div class="services2-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="services2-box">
                    <div class="services2-box-content">
                        <span>New Collection</span>
                        <h2><a href="#">Men Wear</a></h2>
                        <a href="#" class="btn-services-shop-now">Shop now</a>
                    </div>
                    <a href="#"><img src="assist/img/services/home2-services1.jpg" alt="services"></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="services2-box">
                    <div class="services2-box-content">
                        <span>New Collection</span>
                        <h2><a href="#">Women Wear</a></h2>
                        <a href="#" class="btn-services-shop-now">Shop now</a>
                    </div>
                    <a href="#"><img src="assist/img/services/home2-services2.jpg" alt="services"></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="services2-box">
                    <div class="services2-box-content">
                        <span>New Collection</span>
                        <h2><a href="#">Casual Bag</a></h2>
                        <a href="#" class="btn-services-shop-now">Shop now</a>
                    </div>
                    <a href="#"><img src="assist/img/services/home2-services3.jpg" alt="services"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services Area End Here -->