<!-- Services2 Area Start Here -->
<div class="services2-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <div class="services2-box">
                    <div class="services2-box-content">
                        <span>Flower</span>
                        <h2><a href="#">PLEDGE</a></h2>
                        <a [routerLink]="['/category',1]" class="btn-services-shop-now">Shop now</a>
                    </div>
                    <a [routerLink]="['/category',1]"><img src="assist/img/services/a.jpg" alt="services"></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <div class="services2-box">
                    <div class="services2-box-content">
                        <span>Flower</span>
                        <h2><a href="#">THANKS</a></h2>
                        <a [routerLink]="['/category',2]" class="btn-services-shop-now">Shop now</a>
                    </div>
                    <a [routerLink]="['/category',2]"><img src="assist/img/services/b.jpg" alt="services"></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <div class="services2-box">
                    <div class="services2-box-content">
                        <span>Flower</span>
                        <h2><a href="#">BIRTHDAY</a></h2>
                        <a [routerLink]="['/category',3]" class="btn-services-shop-now">Shop now</a>
                    </div>
                    <a [routerLink]="['/category',3]"><img src="assist/img/services/c.jpg" alt="services"></a>
                </div>
            </div>
             <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <div class="services2-box">
                    <div class="services2-box-content">
                        <span>Flower</span>
                        <h2><a href="#">LOVE</a></h2>
                        <a [routerLink]="['/category',4]" class="btn-services-shop-now">Shop now</a>
                    </div>
                    <a [routerLink]="['/category',5]"><img src="assist/img/services/d.jpg" alt="services"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services Area End Here -->