<!-- Advantage2 Area Start Here -->
<div class="advantage2-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="advantage-area-box">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <i class="flaticon-truck"></i>
                        </a>
                        <div class="media-body">
                            <h3>FREE SHIPPING</h3>
                            <p>On All Orders</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="advantage-area-box">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <i class="flaticon-headphones"></i>
                        </a>
                        <div class="media-body">
                            <h3>24/7 SERVICE</h3>
                            <p>Get Help When You Need</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="advantage-area-box">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <i class="flaticon-reload"></i>
                        </a>
                        <div class="media-body">
                            <h3>100% MONEY BACK</h3>
                            <p>Within 30 Day Guarantee</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Advantage2 Area End Here -->