<!-- Blog2 Area Start Here -->
<div class="blog2-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2 class="title-carousel">Latest Blog</h2>
            </div>
        </div>
        <div class="row">
            <div class="blog-carousel carousel-margin" id="blog-carousel">
                <div class="blog-box">
                    <a href="#"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></a>
                    <div class="blog-img-holder">
                        <div class="post-date">
                            <span>25 June</span>
                        </div>
                        <a href="#"><img src="assist/img/blog/1.jpg" alt="blog"></a>
                    </div>
                    <div class="blog-content-holder">
                        <h3><a href="#">Blog Title Goes Here</a></h3>
                        <ul class="solid-underline">
                            <li><span>by</span> Admin</li>
                            <li>Comments (03)</li>
                        </ul>
                        <p>Simply dummy text of the printing and typety esetting industryr drem Ipsum has been thety standard
                            dummy since.</p>
                    </div>
                </div>
                <div class="blog-box">
                    <a href="#"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></a>
                    <div class="blog-img-holder">
                        <div class="post-date">
                            <span>25 June</span>
                        </div>
                        <a href="#"><img src="assist/img/blog/2.jpg" alt="blog"></a>
                    </div>
                    <div class="blog-content-holder">
                        <h3><a href="#">Blog Title Goes Here</a></h3>
                        <ul class="solid-underline">
                            <li><span>by</span> Admin</li>
                            <li>Comments (03)</li>
                        </ul>
                        <p>Simply dummy text of the printing and typety esetting industryr drem Ipsum has been thety standard
                            dummy since.</p>
                    </div>
                </div>
                <div class="blog-box">
                    <a href="#"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></a>
                    <div class="blog-img-holder">
                        <div class="post-date">
                            <span>25 June</span>
                        </div>
                        <a href="#"><img src="assist/img/blog/3.jpg" alt="blog"></a>
                    </div>
                    <div class="blog-content-holder">
                        <h3><a href="#">Blog Title Goes Here</a></h3>
                        <ul class="solid-underline">
                            <li><span>by</span> Admin</li>
                            <li>Comments (03)</li>
                        </ul>
                        <p>Simply dummy text of the printing and typety esetting industryr drem Ipsum has been thety standard
                            dummy since.</p>
                    </div>
                </div>
                <div class="blog-box">
                    <a href="#"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></a>
                    <div class="blog-img-holder">
                        <div class="post-date">
                            <span>25 June</span>
                        </div>
                        <a href="#"><img src="assist/img/blog/1.jpg" alt="blog"></a>
                    </div>
                    <div class="blog-content-holder">
                        <h3><a href="#">Blog Title Goes Here</a></h3>
                        <ul class="solid-underline">
                            <li><span>by</span> Admin</li>
                            <li>Comments (03)</li>
                        </ul>
                        <p>Simply dummy text of the printing and typety esetting industryr drem Ipsum has been thety standard
                            dummy since.</p>
                    </div>
                </div>
                <div class="blog-box">
                    <a href="#"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></a>
                    <div class="blog-img-holder">
                        <div class="post-date">
                            <span>25 June</span>
                        </div>
                        <a href="#"><img src="assist/img/blog/2.jpg" alt="blog"></a>
                    </div>
                    <div class="blog-content-holder">
                        <h3><a href="#">Blog Title Goes Here</a></h3>
                        <ul class="solid-underline">
                            <li><span>by</span> Admin</li>
                            <li>Comments (03)</li>
                        </ul>
                        <p>Simply dummy text of the printing and typety esetting industryr drem Ipsum has been thety standard
                            dummy since.</p>
                    </div>
                </div>
                <div class="blog-box">
                    <a href="#"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></a>
                    <div class="blog-img-holder">
                        <div class="post-date">
                            <span>25 June</span>
                        </div>
                        <a href="#"><img src="assist/img/blog/3.jpg" alt="blog"></a>
                    </div>
                    <div class="blog-content-holder">
                        <h3><a href="#">Blog Title Goes Here</a></h3>
                        <ul class="solid-underline">
                            <li><span>by</span> Admin</li>
                            <li>Comments (03)</li>
                        </ul>
                        <p>Simply dummy text of the printing and typety esetting industryr drem Ipsum has been thety standard
                            dummy since.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog2 Area End Here -->