<!-- Blog2 Area Start Here -->
<div class="blog2-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2 class="title-carousel">Latest Blog</h2>
            </div>
        </div>
        <div class="row">
            <div class="blog-carousel carousel-margin" id="blog-carousel">
                <div class="blog-box">
                    <a href="#"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></a>
                    <div class="blog-img-holder">
                        <div class="post-date">
                            <span>25 June</span>
                        </div>
                        <a href="#"><img src="assist/img/blog/a.jpg" alt="blog"></a>
                    </div>
                    <div class="blog-content-holder">
                        <h3><a href="#">4 cách cắm hoa hồng cực hay</a></h3>
                        <ul class="solid-underline">
                            <li><span>by</span> Admin</li>
                            <li>Comments (03)</li>
                        </ul>
                        <p>Ngày tết đang đến gần, hãy cùng học thêm một vài cách cắm hoa hồng....</p>
                    </div>
                </div>
                <div class="blog-box">
                    <a href="#"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></a>
                    <div class="blog-img-holder">
                        <div class="post-date">
                            <span>25 June</span>
                        </div>
                        <a href="#"><img src="assist/img/blog/b.jpg" alt="blog"></a>
                    </div>
                    <div class="blog-content-holder">
                        <h3><a href="#">Cách chọn mua hoa và giữ hoa tươi lâu</a></h3>
                        <ul class="solid-underline">
                            <li><span>by</span> Admin</li>
                            <li>Comments (03)</li>
                        </ul>
                        <p>Khi đi mua hoa, đôi khi bạn cảm thấy khó phân biệt và mua phải hoa cũ.</p>
                    </div>
                </div>
                <div class="blog-box">
                    <a href="#"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></a>
                    <div class="blog-img-holder">
                        <div class="post-date">
                            <span>25 June</span>
                        </div>
                        <a href="#"><img src="assist/img/blog/c.jpg" alt="blog"></a>
                    </div>
                    <div class="blog-content-holder">
                        <h3><a href="#">Cách bảo quản hoa tươi lâu 1 tuần</a></h3>
                        <ul class="solid-underline">
                            <li><span>by</span> Admin</li>
                            <li>Comments (03)</li>
                        </ul>
                        <p>Hiện nay, kỹ thuật bảo quản hoa cắt cành sau thu hoạch của Việt Nam còn </p>
                    </div>
                </div>
                <div class="blog-box">
                    <a href="#"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></a>
                    <div class="blog-img-holder">
                        <div class="post-date">
                            <span>25 June</span>
                        </div>
                        <a href="#"><img src="assist/img/blog/d.jpg" alt="blog"></a>
                    </div>
                    <div class="blog-content-holder">
                        <h3><a href="#">10 cách cắm hoa cơ bản dễ học</a></h3>
                        <ul class="solid-underline">
                            <li><span>by</span> Admin</li>
                            <li>Comments (03)</li>
                        </ul>
                        <p>Cắm hoa đẹp là một nghệ thuật, nếu muốn có những lẵng hoa, lọ hoa đẹp hãy bỏ túi ngay </p>
                    </div>
                </div>
                <div class="blog-box">
                    <a href="#"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></a>
                    <div class="blog-img-holder">
                        <div class="post-date">
                            <span>25 June</span>
                        </div>
                        <a href="#"><img src="assist/img/blog/e.jpg" alt="blog"></a>
                    </div>
                    <div class="blog-content-holder">
                        <h3><a href="#">Cách chọn mua hoa tươi suốt 7 ngày Tết</a></h3>
                        <ul class="solid-underline">
                            <li><span>by</span> Admin</li>
                            <li>Comments (03)</li>
                        </ul>
                        <p>Việc chọn hoa tươi, đẹp đóng vai trò rất quan trọng để bạn có 1 bình hoa đẹp và tươi lâu</p>
                    </div>
                </div>
                <div class="blog-box">
                    <a href="#"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></a>
                    <div class="blog-img-holder">
                        <div class="post-date">
                            <span>25 June</span>
                        </div>
                        <a href="#"><img src="assist/img/blog/f.jpg" alt="blog"></a>
                    </div>
                    <div class="blog-content-holder">
                        <h3><a href="#">Mẹo chọn hoa tươi cho những ngày quan trọng</a></h3>
                        <ul class="solid-underline">
                            <li><span>by</span> Admin</li>
                            <li>Comments (03)</li>
                        </ul>
                        <p>Trong bài chia sẻ trước Cây Cầu Vàng đã giới thiệu với các bạn Cách giữ hoa tươi lâu tại nhà, hôm nay mời các bạn</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog2 Area End Here -->